@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

#popup {
  min-width: 350px;
  min-height: 350px;
  display: flex;
}
